* {
    box-sizing: border-box;
    transition: all .3s ease;
    font-size: 15px;
}

html, body{
    padding: 0;
    margin: 0;      
    font-family: Verdana, Tahoma, sans-serif;
    background: #fff;
    box-sizing: border-box;
    display: flex;
}

aside{
    top: 0;
    height: 1000px;   
    width: 320px;       
}

#lateral{   
    width: 100%;
    
    height: 1000px;
    margin: 0 auto;
    background: #e1e1e1;
    border-radius: 0px 0px 100px;        
}

.conteudoLateral{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}

#logo{
    margin: 50px 5px 15px 5px;
}

#menu{
    width: 100%;
    max-width: 800px;
}

#menu .listaMenu{
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;   
}

#menu .listaMenu .sessaoMenu{
    margin-top: 20px;
    font-size: 20px;
}

#menu .listaMenu li{
    margin-bottom: 10px;
}    

#menu .listaMenu li a{   
    text-decoration: none;
    color: black;
    padding: .3rem;
    padding-right: auto;
}

#menu .listaMenu li a:hover{
    width: 50%;
    margin: 7px;
    color: white;
    background-color: #ac7100;
    transition: all .3s ease;
    border-radius: 5px 5px 5px 5px;
}

#sair{
    padding: 5px;   
    width: 55px;
    margin: 20% auto auto auto; 
    align-items: center;
    text-align: center;    
    text-decoration: none;
}

#sair a{
    text-decoration: none;
    color:black ;
}

#sair h2{
    margin: 0 0 0 0;
}

#sair:hover{
    color: aliceblue;
    margin: 20% auto auto auto;   
    background-color: #ac7100;
    transition: all .3s ease;
    border-radius: 5px 5px 5px 5px;
}

h1{    
    font-size: 50px;
    margin-left: 70px;
    margin-top: 70px;
}

hr{
    margin-bottom: 70px;
    width: 100%;
}

#conteudo{    
    width: 1500px;
}

#form-conteudo{
    display: block;
    width: 100%;
}

#form-conteudo div{

}

#form-conteudo div label{
    font-size: 25px;
    margin-left: 70px;
    margin-right: 20px;
}

.input-text{
    text-align: center;
    background-color: #fff3dd;
    border-radius: 20px;
    height: 50px;
    width: 400px;
    margin-bottom: 50px;
}

.input-text:hover{
    text-align: center;
    background-color: #f7c973;   
    align-items: center;
}