* {
    box-sizing: border-box;
    transition: all .3s ease;
    font-size: 15px;
}

html, body{
    padding: 0;
    margin: 0;      
    font-family: Verdana, Tahoma, sans-serif;
    background: #fff;
}

.sessaoMenu{
    margin-top: 20px;
}

aside{
    top: 0;
    position: absolute;    
    width: auto;    
}
ul{
    list-style: none;
}

#lateral{   
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    background: #e1e1e1;
    border-radius: 0px 0px 100px;
    overflow: hidden;
}

.conteudoLateral{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}

#logo{
    margin: 50px 5px 30px 5px;
}

nav{
    width: 100%;
    max-width: 800px;
}

nav .listaMenu{
    display: grid;
    padding-left: 20px;
    padding-right: 20px;    
}

nav .listaMenu li{
    margin-bottom: 10px;    
}

nav .listaMenu li a{   
    text-decoration: none;
    color: black;
    padding: .3rem;
    padding-right: auto;
}

nav .listaMenu li a:hover{
    width: 50%;
    margin: 7px;
    color: white;
    background-color: #ac7100;
    transition: all .3s ease;
    border-radius: 5px 5px 5px 5px;
}

#sair{
    height: 50px;
    margin-top: 20%;
    align-items: center;
    text-align: center;    
    text-decoration: none;
}

#sair:hover{
    margin: 20% auto auto auto;   
    background-color: #ac7100;
    transition: all .3s ease;
    border-radius: 5px 5px 5px 5px;
}

#sair a{
    text-decoration: none;
    color:black ;
}

#sair h2{
    margin: 0 0 0 0;
}

#topoPagina{
    display: inline;
}